<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contributing to Open Source at Hookt Studios</title>
    <meta name="description" value="Learn more about our team contributions to Open Source community (mostly ruby stuff)." />
    <meta name="viewport" content="width=device-width">
    <meta property="og:image" content="http://code.hooktstudios.com/img/logo.png"/>
    <meta property="og:site_name" content="Open Source at Hookt Studios"/>
    <%= css :app, :media => 'screen' %>
    <%= js  :app %>
  </head>
  <body>
    <header class="container">
      <nav>
        <h1>Code.<a href="http://hooktstudios.com"><img src="/img/hs.png" alt="Hookt Studios" width="40" height="24"></a></h1>
        <ul class="meta-nav">
          <li><a href="https://github.com/hooktstudios">GH</a></li>
          <li><a href="https://twitter.com/hooktstudios">TW</a></li>
          <li><a href="http://www.facebook.com/hookt.studios">FB</a></li>
          <li><a href="http://hooktstudios.com/">HS</a></li>
        </ul>
      </nav>
      <blockquote>
        <p>If I have seen further, it is by standing on the shoulders of giants</p>
        <footer>Isaac Newton</footer>
      </blockquote>
    </header>
    <div class="content">
      <section class="container">
        <h2>Our projects</h2>
        <ul class="projects plain">
          <li class="icony">
            <h3><a class="icon sinatra-export" href="https://github.com/hooktstudios/sinatra-export">sinatra-export</a></h3>
            <p>Export your Sinatra application to static files (html, csv, txt, etc). Could be <a href="https://github.com/laktek/punch" class="external">Punch's</a> Ruby cousin.</p>
          </li>
          <li class="icony">
            <h3><a class="icon capistrano-s3" href="https://github.com/hooktstudios/capistrano-s3">capistrano-s3</a></h3>
            <p>Using Ruby and Capistrano, deploy a static website to an Amazon S3 website bucket.</p>
          </li>
          <li class="icony">
            <h3><a class="icon capistrano-recipes" href="https://github.com/hooktstudios/capistrano-recipes">capistrano-recipes</a></h3>
            <p>This project is a mixed bag of capistrano recipes we use at Hookt Studios.</p>
          </li class="icon">
          <li class="icony">
            <h3><a class="icon sinatra-static" href="https://github.com/hooktstudios/sinatra-static-bp">sinatra-static-bp</a></h3>
            <p>Boilerplate for simple static ruby applications. Amazon S3 deploy with complete assets management.</p>
          </li>
          <li class="icony">
            <h3><a class="icon rails-bp" href="https://github.com/hooktstudios/rails-bp">rails-bp</a></h3>
            <p>Collections of gems & code we tend to use on about every Rails project.</p>
          </li>
          <li class="icony">
            <h3><a class="icon cupidon" href="https://github.com/hooktstudios/cupidon-ac"><span>cupidon-ac</span></a></h3>
            <p>Cupidon Autocompleter (a.k.a. cupidon-ac) is a simple jQuery UI widget that wraps the jQuery UI Autocomplete plugin to add a "must match" feature.</p>
          </li>
        </ul>
      </section>
      <section class="container">
        <h2 class="other-projects">
          <strong>Projects we<i class="icon heart"></i></strong> <span>& contribute to</span>
        </h2>
        <ul class="projects plain">
          <li>
            <h3><a href="https://github.com/rstacruz/sinatra-assetpack" class="project">sinatra-assetpack</a></h3>
            <p>Package your assets transparently in Sinatra. Sprocket sister for Sinatra. <span class="hash">#maintainer</span></p>
          </li>
          <li>
            <h3><a href="https://github.com/thoughtbot/bourbon" class="project">bourbon</a></h3>
            <p>This is a mixin library for Sass by thoughtbot (we absolutely LoVe paperclip from thoughtbot too!).</p>
          </li>
          <li>
            <h3><a href="https://github.com/rkh/sinatra-advanced-routes" class="project">sinatra-advanced-routes</a></h3>
            <p>Usefull library for multiple other Sinatra extensions. <span class="hash">#maintainer</span></p>
          </li>
          <li>
            <h3><a href="https://github.com/capistrano/capistrano" class="project">capistrano</a></h3>
            <p>We love capistrano for deployments, we are using it on almost every project.</p>
          </li>
          <li>
            <h3><a href="https://github.com/jipiboily/spree_multi_lingual" class="project">spree_multi_lingual</a></h3>
            <p>SpreeCommerce plugin allowing products to be translated. Proudly made in Quebec City.</p>
          </li>
          <li>
            <h3><a href="https://github.com/spree/spree_i18n" class="project">spree_i18n</a></h3>
            <p>This is the repository for the translations files of SpreeCommerce : we obviously are updating french translations. </p>
          </li>
          <li>
            <h3><a href="https://github.com/svenfuchs/globalize3" class="project">globalize3</a></h3>
            <p>The afore mentioned spree_multi_lingual is using Globalize3 for its i18n mechanism. </p>
          </li>
        </ul>
      </section>
    </div>
    <footer class="page-footer">
      <p class="container"><i class="icon hexagon"></i><a href="http://www.hooktstudios.com">Hookt Studios</a> thinks hexagons are underrated.</p>
    </footer>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9009943-6']);
    _gaq.push(['_setDomainName', 'code.hooktstudios.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>