<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <%= css :app, :media => 'screen' %>
    <%= js  :app %>
  </head>
  <body>
    <header class="container">
      <h1>Code.hs</h1>
      <blockquote>
        <p>If I have seen further, it is by standing on the shoulders of giants</p>
        <footer>Isaac Newton</footer>
      </blockquote>
    </header>
    <div class="content">
      <section class="container">
        <h2>Our projects</h2>
        <a href="https://github.com/hooktstudios/cupidon-ac" class="project">
          <h3>cupidon-ac</h3>
          <p>Cupidon Autocompleter (a.k.a. cupidon-ac) is a simple jQuery UI widget that wraps the jQuery UI Autocomplete plugin to add a "must match" feature.</p>
        </a>
        <a href="https://github.com/hooktstudios/rails-bp" class="project">
          <h3>rails-bp</h3>
          <p>Collections of gems & code we tend to use on about every Rails project.</p>
        </a>
        <a href="https://github.com/hooktstudios/sinatra-static-bp" class="project">
          <h3>sinatra-static-bp</h3>
          <p>Boilerplate for simple static ruby applications. Amazon S3 deploy with complete assets management.</p>
        </a>
        <a href="https://github.com/hooktstudios/sinatra-export" class="project">
          <h3>sinatra-export</h3>
          <p>Export your Sinatra application to static files (html, csv, txt, etc).
            A bit like <span href="https://github.com/laktek/punch">Punch</span>, in Ruby.</p>
        </a>
        <a href="https://github.com/hooktstudios/capistrano-s3" class="project">
          <h3>capistrano-s3</h3>
          <p>Using Ruby and Capistrano, deploy a static website to an Amazon S3 website bucket.</p>
        </a>
        <a href="https://github.com/hooktstudios/capistrano-recipes" class="project">
          <h3>capistrano-recipes</h3>
          <p>This project is a mixed bag of capistrano recipes we use at Hookt Studios.</p>
        </a>
      </section>
      <section class="container">
        <h2 class="other-projects">Projects we ♥ <span>& contribute to</span></h2>
        <a href="#" class="project">
          <h3>bourbon</h3>
          <p>This is a mixin library for Sass by thoughtbot (we absolutely LoVe paperclip from thoughtbot too!)</p>
        </a>
        <a href="https://github.com/rstacruz/sinatra-assetpack" class="project">
          <h3>sinatra-assetpack</h3>
          <p></p>
        </a>
        <a href="https://github.com/rkh/sinatra-advanced-routes" class="project">
          <h3>sinatra-advanced-routes</h3>
          <p></p>
        </a>
        <a href="#" class="project">
          <h3>capistrano</h3>
          <p>We love capistrano for deployments, we are using it on almost every project.</p>
        </a>
        <a href="#" class="project">
          <h3>spree_multi_lingual</h3>
          <p>SpreeCommerce plugin allowing products to be translated. Created by fellow programmer Jean-Philippe Boily in Quebec City, we are using & improving this project.</p>
        </a>
        <a href="#" class="project">
          <h3>spree_i18n</h3>
          <p>This is the repository for the translations files of SpreeCommerce : we obviously are updating french translations.</p>
        </a>
        <a href="#" class="project">
          <h3>globalize3</h3>
          <p>The afore mentioned spree_multi_lingual is using Globalize3 for its i18n mechanism.</p>
        </a>
      </section>
    </div>
  </body>
</html>