@import "assets/css/bourbon/bourbon";
@import "assets/css/mixins";
@import "assets/css/reset";

* { @include box-sizing(border-box); }

@include font-face(opensans, "/fonts/OpenSans-Regular-webfont");
@include font-face(opensans, "/fonts/OpenSans-ExtraBold-webfont", bold);
@include font-face(icons, "/fonts/icons");

// Layout styles

html {
  font-size: 62.5%;
}

body {
  @include rem(13);

  background: #00c6ff;
  color: #fff;
  line-height: 1.5;
  font-family: opensans;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  background: #00f1a4;
  color: #60897c;
  padding: 8% 0 0 0;

  h2 { color: #fff; }
}

.page-footer {
  @include rem(11);

  padding: 10px 0 45px;
  text-align: right;

  .icon {
    @include rem(15);
    margin-right: 3px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

// Base styles

h1 {
  @include rem(22);

  float: left;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase;
  vertical-align: bottom;

  img {
    display: inline-block;
    vertical-align: top;
  }
}

a {
  color: #60897c;
  text-decoration: underline;
}

p {
  margin-bottom: 40px;
}

h2 {
  @include rem(130);

  border-bottom: 10px solid #fff;
  line-height: 1;
  font-family: opensans;
  font-weight: bold;
  margin-bottom: 10%;
  padding-bottom: 25px;
  text-transform: uppercase;
  white-space: nowrap;

  strong {
    display: block;
    width: 100%;
  }
}

h3 {
  color: #4c6b61;
  display: inline-block;
  font: bold 23px/1.2 opensans;
  margin-bottom: 12px;
}

.other-projects {
  @include rem(120);

  span {
    @include rem(80);
    display: block;
  }

  .icon {
    margin-left: 10px;
  }
}

section { padding-bottom: 10%; }

header {
  padding: 16px 0 84px;
  text-align: center;

  nav { overflow: hidden; }
}

.plain {
  list-style: none;
  li { display: inline-block; }
}

blockquote {
  @include rem(20);

  border: 1px solid #66ddff;
  border-width: 1px 0;
  clear: both;
  display: inline-block;
  margin-top: 80px;
  padding: 36px 0 16px;
  position: relative;

  p {
    margin-bottom: 24px;

    &:before, &:after { content: "“"; }
  }

  footer {
    @include rem(12);

    padding-right: 55px;
    text-align: right;
    text-transform: uppercase;

    &:before { content: "- " }
  }

  &:before {
    background: #00c6ff url(/img/chair.gif) center center no-repeat;
    content: "";
    display: block;
    height: 62px;
    margin-left: -37px;
    position: absolute;
    top: -31px;
    left: 50%;
    width: 74px;
  }
}

// Icons

.icon:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.capistrano-recipes:before  { content: "\265a"; }
.capistrano-s3:before       { content: "\2601"; }
.cupidon:before             { content: "\2665"; }
.heart:before               { content: "\2764"; }
.rails-bp:before            { content: "\2668"; }
.sinatra-export:before      { content: "\2693"; }
.sinatra-static:before      { content: "\26a1"; }
.hexagon:before             { content: "\2b22"; }

// Modules styles

.projects {
  font-size: 0;

  li {
    @include rem(13);

    display: inline-block;
    margin-bottom: 4%;
    padding: 0 40px 0 10px;
    vertical-align: top;
    width: 33%;

    &:nth-child(3n) {
      padding-right: 10px;
    }

    .icon:before {
      color: #fff;
      font-size: 210px;
      margin-bottom: 20px;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      width: 100%;
    }
  }
  h3 a {
    color: #4c6b61;
    display: inline-block;

    &:hover { color: lighten(#4c6b61, 10); }
  }
}

.meta-nav {
  @extend .plain;
  float: right;
  padding-top: 8px;

  li {
    border-left: 1px solid #80e3ff;
    line-height: 1;

    &:first-child { border: 0; }
  }

  a {
    @include rem(17);

    color: #fff;
    padding: 0 6px;
    text-decoration: none;
  }
}

.hash {
  color: #7f928c;
}

@media screen and(max-width: 780px) {
  .projects li {
    padding: 0 10px;
    width: 50%;
  }
}

@media screen and(max-width: 550px) {
  .projects li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;

    &.icony {
      padding-left: 90px;

      .icon:before {
        @include rem(75);
        position: absolute;
        width: auto;
        left: 0;
        top: 0;
      }
    }
  }
}